{% extends '::base.html.twig' %}



{% block content %}
			<div class="container" id="content">
		<div class="center-block" style="width:800px">
			</br></br></br></br>
                        <h2 class="text-center"> You have to be connected to access to challenges page</h2></br></br>
                        <div class="center-block" style="width:50px"><a href="{{ path ("fos_user_profile_show") }}" type="button" class="btn btn-info">Login</a></div>
		
			</div>
			</div>

  
{% endblock %}




